.text-effects {
  color: brown;
  background-color: brown;
  border: #000000 solid 1px;
  transition: background-color 2s;
  &:hover {
    background-color: white;
  }
}
.text-effects2 {
  @extend .text-effects;
  border: #000000 solid 0;
  -webkit-box-shadow: 15px 10px 5px 2px #000000;
  box-shadow: 15px 10px 5px 2px #000000;
}
