footer {
  display: flex;
  justify-content: center;
}

footer > span {
  background-color: red;
  width: 10rem;
  color: white;
  border-radius: 3rem;
  font-size: 3rem;
}

.container {
  text-align: center;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav-wrapper > nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.nav-wrapper > nav > span {
  background-color: red;
  width: 10rem;
  color: white;
  border-radius: 3rem;
  font-size: 3rem;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 1rem;
}
