h1 {
  text-align: center;
  background-color: yellow;
  color: lightslategrey;
  box-shadow: 0.2rem 0.5rem 0.1rem 0.1rem #a3722a;
}
h2 {
  text-align: center;
  background-color: yellow;
  color: lightslategrey;
  box-shadow: 0.2rem 0.5rem 0.1rem 0.1rem #3c8856;
}
.navbar > ul > li > a[href$=".il/"] {
  color: blue;
}
.navbar > ul > li > a[href$=".net/"] {
  color: green;
}
.navbar > ul > li > a[href$=".com/"] {
  color: red;
}

.div-with-paragrafs > p {
  border: 0.1rem solid black;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
}
