.nav-bar {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.gallery {
  width: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 2fr; */
  /* justify-items: start; */
  justify-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  /* justify-items: end; */
}

.gallery > img {
  width: 20rem;
}
