.n-b-s {
  background-color: rgb(93, 242, 230);
  box-shadow: 2px 6px 5px 5px rgba(0, 0, 0, 0.5);
}
.i-b-s {
  background-color: rgb(93, 242, 230);
  box-shadow: inset 2px 6px 5px 5px rgba(0, 0, 0, 0.5);
}
