/*
    V 1) make all imgs equal 
    V 2) on hover make the image bigger (scale) in grid frames
*/

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-cutter {
  overflow: hidden;
  width: 100%;
  height: 40%;
}

.img-cutter > img {
  width: 100%;
  /* height: 100%; */
  position: relative;
  top: -3rem;
  transition: transform 3s;
}

.img-cutter > img:hover {
  transform: scale(1.5, 1.5);
}
